body {
    background-color: white;   
    display: flex;
    justify-content: center; 
}

section {   
    width: 40%;             
    border: solid 1px black;
    background-color: gray;
    margin: 20px;
    padding: 20px;
}

article {   
    height: auto;   
    margin: 10px 0;
    padding: 10px;
}

h1, h2 {
    width: fit-content;
    background-color: black;
    color: white;    
    padding: 4px 10px;
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
}

ul article {
    padding-left: 40px;
}
